<div class="nested-fields">
  <%= f.text_field :ingredient_name, class: "col-form-label", placeholder: "牛乳" %>
  <%= f.text_field :amount, class: "col-form-label", placeholder: "200cc" %>
  <%= link_to_remove_association "削除", f , class: "btn btn-outline-info" %>
</div>