<div class="nested-fields">
  <tr>
    <td><%= f.text_field :ingredient_name, class: "col-form-label", placeholder: "例：牛乳" %></td>
    <td><%= f.text_field :amount, class: "col-form-label ml-1", placeholder: "例：200cc" %></td>
    <td><%= link_to_remove_association "削除", f , class: "btn btn-outline-info ml-2" %></td>
  </tr>
</div>