<div class="row col-10">
  <% @recipes.each do |recipe| %>
  <div class="card col-3 mr-3 mb-2">
    <div class="card-img-top">
      <%= image_tag recipe.recipe_image.variant(resize: "200x200^", gravity: "center", crop: "200x200+0+0") %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= recipe.name %></h4>
      <p class="card-text"><%= recipe.introduction %></p>
      <% if user_signed_in? %>
        <%= link_to "作り方を見る", recipe_path(recipe.id) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>