<div class="nested-fields steps">
  <tr>
    <td><%= f.text_area :step_introduction, class: "col-form-label" %></td>
    <td><%= link_to_remove_association "削除", f , class: "btn btn-outline-info ml-2" %></td>
  </tr>
</div>