<div class="container mt-3 add-font">
  <div class="row">
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |favorite| %>
      <div class="card col-3 mr-3 mb-2">
        <div class="card-img-top">
          <%= image_tag favorite.recipe_image.variant(resize: "200x200^", gravity: "center", crop: "200x200+0+0") %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= favorite.name %></h4>
          <p class="card-text"><%= favorite.introduction %></p>
          <%= link_to "作り方を見る", recipe_path(favorite.id) %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>