<div class="container mt-3 add-font">
  <div class="row">
    <div class="col-2">
      <%= render "/public/recipes/category_search", categories: @categories %>
    </div>
    <%= render "list", recipe: @recipe %>
  </div>
</div>