<div class="container">
  <div class="row">
    <div class="col-md-4 float-left my-5">
    <div class="bg-light px-4">
      </br></br>
      <h2>ABOUT</h2>
      </br>
      <p>
        MILK KITCHENは、</br>
        牛乳に特化したレシピサイトです。</br>
        牛乳の消費を手伝いたい消費者の方、</br>
        廃棄に困っている酪農家の方などに。</br></br>
        気軽にお使いください！
      </p>
      </br></br></br>
    </div>
    <div class="col-md-8 my-5">
      <div class="img-fluid rounded float-left">
        <%= image_tag("about.jpeg", width: '100%', height: '100%') %>
      </div>
    </div>
  </div>
  </div>
</div>
