<div class="container">
  <div class="row">
    <div class="text-center py-3 d-flex align-items-center justify-content-center">
      <%= image_tag("top.jpg", width: '95%', height: '90%') %>
    </div>
  </div>
  <div class="row">
    <div class="col py-2 text-center">
    <span>
      <h5>WELCOME</br>TO</br>MILK KITCHEN</h5>
    </span>
    </div>
  </div>
</div>
